#khoi1{
    background-color: aqua;
    width: 1200px;
    height: auto;
    padding: 3px;
    }
    
    #menu1{
        font-size: 15px;
        margin-top: 10px;
        display: flex;
    }
    #menu1 li{
        list-style-type: none;
      padding:10px 50px;
    
    }
    #menu1 li a{
       color: rgb(83, 25, 158);
       text-decoration: none;
       text-transform: uppercase;
       
    }
    #menu2{
            font-size: 15px;
            margin-top: 20px;
            display: flex;
        }
        #menu2 li{
            list-style-type: none;
          position: relative;
          padding: 20px;
        
         
        }
        #menu2 li a{
           color: rgb(22, 11, 129);
           text-decoration: none;
           
           
        }
    #menu2 .menucon1{
        position: absolute;
        background-color: rgb(184, 233, 195);
        width: 140px;
        padding: 1px 0px;
        display: none;
    }
    #menu2 .menucon1 a{
        padding: 8px 15px;
        border-bottom: 1px solid black;
    }
    #menu2 li:hover ul.menucon1 {
        display: block;
    }
    @media screen and (max-width: 991.6px){
        #khoi1{
            background-color: rgb(214, 209, 231);
            width: 800px;
          height: auto;
          padding: 5px;
        }
        #menu1 li a{
          color: rgb(131, 32, 109);
          text-decoration: none;
          text-transform: uppercase;
          }
          #menu2 li a{
              color: rgb(21, 104, 56);
              text-decoration: none;
      }
      #menu2{
        font-size: 15px;
        margin-top: 20px;
        display: flex;
      }
      p{
          color: blue;
      }
      img{
          width: 800px;
          height: auto;
      }
          }
          @media screen and (max-width :768px){
              #khoi1{
                  background-color: rgb(125, 136, 66);
                  width: 500px;
                height: auto;
                padding: 2px;
              }
              #menu1 li a{
                color: rgb(44, 173, 39);
                text-decoration: none;
                text-transform: uppercase;
                }
                #menu2 li a{
                    color: rgb(133, 58, 83);
                    text-decoration: none;
            }
            p{
                color: rgb(185, 123, 29);
                width: 500px;
            }
            img{
                width: 500px;
                height: auto;
            }
            #menu1 li{
              list-style-type: none;
            padding:10px 15px;
      
          }
          #menu2{
            font-size: 15px;
            margin-top: 15px;
            display: flex;
          }
#menu1{
    font-size: 15px;

}
          
      }   
      